@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* .glow-on-hover {
    transition: box-shadow 0.3s ease-in-out;
}
  
.glow-on-hover:hover {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    filter: brightness(120%) contrast(120%);
    transform: scale(1.2); /* Scales the image to 120% of its original size */
    /* transition: filter 0.3s ease-in-out;
    filter: brightness(120%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.7)); */
  /* } */

.glow-on-hover {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Apply transitions for both states */
    display: block; /* To prevent inline default space under the image */
    max-width: 100%; /* To ensure responsiveness */
    height: auto; /* Maintain aspect ratio during scaling */
}

.glow-on-hover:hover {
    filter: brightness(120%) contrast(120%);
    transform: scale(1.2); /* Scales the image to 120% of its original size on hover */
}

@media (min-width: 768px) {
    .app-store-badge {
      width: 33%; /* Or whatever size you prefer for desktop */
    }
  }
  
/* This will apply styles for screens smaller than 768px (typically mobile devices) */
@media (max-width: 767px) {
.app-store-badge {
    width: 60%; /* Or whatever larger size you prefer for mobile */
}
}

/* Mobile Styles */
@media (max-width: 749px) {
    .soundpaste-logo {
        width: 100%; /* Full width on mobile */
    }
}

@media (max-width: 749px) {
    .pastekit-logo {
        width: 80%; /* Full width on mobile */
    }
}

/* Desktop Styles */


@media (min-width: 750px) {
    .soundpaste-logo {
        max-width: 750px; /* Adjust this value to match the width of the content below */
        width: 100%; /* This will make sure the image is responsive and does not exceed its container */
        margin: 0 auto; /* This centers the logo if it's not as wide as its container */
    }
}
  

@media (min-width: 750px) {
    .pastekit-logo {
        max-width: 600px; /* Adjust this value to match the width of the content below */
        width: 80%; /* This will make sure the image is responsive and does not exceed its container */
        margin: 0 auto; /* This centers the logo if it's not as wide as its container */
    }
}